@import "../global.scss";

.menu{
    width: 20%;
    height: 100vh;
    margin-left: calc(100vw - 20%);
    background-color: $secondaryColor;
    border-radius: 20px;
    align-items: center;
    position: fixed;
    right: -20%;
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease;

    &.active{
        right: 0;
    }
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 35px;
        color:  $primaryColor;
        font-weight: 200;
        width: 80%;

    }
    li {
        margin-bottom: 50px;
        text-align: center;

        a{
            font-size: inherit;
            color: inherit;
            font-family: "eurostile", sans-serif;
            text-decoration: none;
        }

        &:hover{
            font-weight: 400;
        }
    }
}

@media only screen and (max-width: 760px) {
    .menu{
        width: 100%;
        right: -100%;
    }
}
