@import "../global.scss";

.Home{
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 10%;
    min-height: fit-content;
    background-color: white;


    .gifContainer{

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 60px;

        img{
            border: 10px solid $primaryColor;
            border-radius: 50%;
            height: 380px;
            width: 400px;
        }
    }


    .textContainer{
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 14px 0 24px 0;
        width: 50%;
        color: $secondaryColor;

        .socialMediaIcons{
            margin: 0 0 15px 0;

            .fb{
                margin-right: 10px;
                color: $secondaryColor;
            }
            .instagram{
                margin-right: 10px;
                color: $secondaryColor;
            }
            .linkedin{
                margin-right: 10px;
                color: $secondaryColor;
            }
        }

        .hi{
            font-family: "eurostile", sans-serif;
            margin: 0 0 20px 0;
            font-size: 30px;
        }
        .name{
            font-family: "eurostile", sans-serif;
            margin: 0 0 20px 0;
            height: 50px;
            font-size: 35px;
        }
        .job{
            font-family: "eurostile", sans-serif;
            margin: 0 0 20px 0;
            font-size: 30px;
        }
        a {


            .cvButton{
                font-family: "eurostile", sans-serif;
                color: black;
                border: 4px solid $primaryColor;
                border-radius: 24px;
                font-size: 20px;
                font-weight: 500;
                height: 48px;
                background-color:  #3bedb7;
                margin: 0 0 15px 0;
                width: 20%;

            }
            .cvButton:hover{
                border: 4px solid #3bedb7;
            }
        }
    }


}
