@import "../global.scss";

.Experience{

    overflow-y: hidden;
    background-color: $primaryColor;
    h4{
        margin-bottom: 6px;
    }

    ul{
        list-style-type:  lower-latin;
        padding: 2px 10px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 760px) {
    .VerticalTimeline{
        max-height: 100% !important;
    }
}
